/**
    Styles for Default.aspx goes here
*/
body {
    background-color: lightgreen;
}

.banner{
   background-image:url(../Assets/banner.png); 
   height:250px;
   width:550px;
   background-position:center;
   background-size:contain;
   display:inline-block;
}

.logo {
   border:3px solid black;
   height: 900px;
   width:400px;
   background-image:url(../Assets/logo.png); 
   background-position:center;
   background-size:contain;
   display:inline-block;
}
/**
    Styles for Team.aspx goes here
*/
.field{
    margin-left:30px;
}

/**
    Styles for LogIn.aspx goes here
*/
.sign{
    position:relative;
    display:inline-block;
    vertical-align:central;
}